/* post一览页面 */
.posts {
    padding-top: 1rem;
}
.post-preview {
    position: relative;
}
.post-preview-background-image {
    filter:blur(0.2rem) brightness(65%);
    background-size: cover !important; 
    opacity:0;
    position: absolute;
    top: -5%;
    bottom:0;
    width: 100%;
    height:110%;
    z-index: -1;
    border-radius: 1.5rem;
    transition:0.3s;
}
.post-preview > a > .post-title {
    margin-top: 1rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color:#404040;
    transition:0.3s;
}
.post-preview > a > .post-subtitle {
    padding-left: 2rem;
    padding-right: 2rem;
    color:#404040;
    transition:0.3s;
}
.post-preview > a > .post-content-preview {
    color:#757575;
    font-style: normal;
    margin-top:0;
    margin-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    transition:0.3s; 
}
.post-preview > a > .post-meta {
    font-family: 'Lora', 'Times New Roman', serif;
    color: #808080;
    font-size: 16px;
    font-style: italic;
    margin-top:0;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom:1.5rem;
    transition:0.3s;
}

.post-preview:hover .post-preview-background-image {
    opacity:1;
    transition:0.3s;
}
.post-preview:hover .post-title,
.post-preview:hover .post-subtitle,
.post-preview:hover .post-content-preview,
.post-preview:hover .post-meta {
    color:#f0f0f0;
    text-shadow: 0.2rem 0.2rem 0.3rem #D1255C;
    z-index: 1;
    transition:0.3s;
}
.post-preview:hover .post-title {
    padding-top: 10rem;
    transition:0.3s;
}

