/* 左上角网页标题 */
.navbar-custom .navbar-brand {
    color:#333333;
    text-shadow: pink 1px 0 10px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
}

/* 右上角网页导航 */
.navbar-custom .nav li a {
    color:#333333;
    text-shadow: pink 1px 0 5px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
}

/* 页面标题 */
.intro-header .site-heading {
    color:#333333;
    text-shadow: 1px 1px 2px pink;
    user-select: none;
}
.intro-header .site-heading h1 {
    font-size: min(70px,10vw);
}
.intro-header .site-heading .subheading {
    font-size: min(20px,4vw);
}

/* 文章标题 */
.intro-header .post-heading,
.intro-header .page-heading {
    color:#f0f0f0;
    text-shadow: 1px 1px 2px #f00056;
}

/* tags */
.post-tags > a {
    color:#ddd;
    text-shadow: 1px 1px 2px #f00056;
    text-decoration: none;
}

/* post一览页面 */
.post-preview {
    position: relative;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
.post-preview-background-image {
    filter:blur(0.2rem) brightness(35%);
    background-size: cover !important; 
    opacity:0;
    position: absolute;
    top: 0;
    bottom:0;
    width: 96%;
    z-index: -1;
    transition:0.3s;
}
.post-preview > a > .post-title {
    margin-top:1rem;
    margin-left: 1rem;
    margin-right:1rem;
}
.post-preview > a > .post-subtitle {
    margin-left: 1rem;
    margin-right:1rem;
}
.post-preview > a > .post-content-preview {
    color:#757575;
    font-style: normal;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.post-preview > a > .post-meta {
    font-family: 'Lora', 'Times New Roman', serif;
    color: #808080;
    font-size: 16px;
    font-style: italic;
    margin-top:0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.post-preview:hover .post-preview-background-image {
    opacity:1;
}
.post-preview:hover a,
.post-preview:hover .post-meta,
.post-preview:hover .post-content-preview {
    transition:0.3s;
    color:#f0f0f0;
    text-shadow: 0.1rem 0.1rem 0.3rem #D1255C;
    z-index: 1;
}


/* 位于页面底部的其他网站链接/图标 */
.otherSiteIcon {
    width: 55px;
    height: 55px;
    cursor: pointer;
    filter: contrast(0);
    padding: 5px;
    transition:0.5s;
} 
.otherSiteIcon:hover {
    padding: 0px;
    filter: contrast(1);
    transition:0.5s;
}
.gumroadIcon:hover {
    background-image: url(/img/gumroad-background.ico);
    background-size: contain;
    background-repeat: no-repeat;
}

/* 漫画插件部分
   漫画插件：总体 */
.mangaGallery {
    display:inline-flex;
    flex-wrap: wrap;
}

/* 漫画插件：单格 */
.mangaBlocks {
    width: 15.266%;
    min-width: 100px;
    margin: 0.7%;
    cursor: pointer;
    
    position:relative;
}

/* 漫画插件：缩略图 */
.mangaThumbnails {
    object-fit: cover;
    width: 100%;
    min-height: 100px;
}
.mangaThumbnails:hover {
    cursor: pointer;
}

/* 漫画插件：页码显示 */
.mangaBlocks:hover .mangaThumbnails{
    filter:brightness(50%);
    transition:0.3s;
}
.pageNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: none;
    color:white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size:3em;
    text-decoration:none;
}
.mangaBlocks:hover .pageNumber {
    display: block;
} 

/* 漫画插件：首格方向指示
#directionGuider {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:max(20px,1.5em)
} */